In [443]:
import warnings
warnings.filterwarnings('ignore') # Filter out warnings
import numpy as np
import pandas as pd
import random as rnd
import matplotlib.pyplot as plt
%matplotlib inline
from matplotlib.pylab import rcParams
from scipy import stats
import math

In [444]:
AMZN_msg_path = 'AMZN_2012-06-21_34200000_57600000_message_5.csv'
AMZN_ordb_path = 'AMZN_2012-06-21_34200000_57600000_orderbook_5.csv'
# add header rows
df_msg = pd.read_csv(AMZN_msg_path,names = ["Time_stamp", "Type", "OrderID", "Size","Price","Direction"])
df_ordb = pd.read_csv(AMZN_ordb_path,
names=['Ask Price 1','Ask Size 1','Bid Price 1','Bid Size 1','Ask Price 2','Ask Size 2','Bid Price 2','Bid Size 2',
       'Ask Price 3','Ask Size 3','Bid Price 3','Bid Size 3','Ask Price 4','Ask Size 4','Bid Price 4','Bid Size 4',
       'Ask Price 5','Ask Size 5','Bid Price 5','Bid Size 5'])

In [445]:
print("Originally, message and orderbook csv each has {}, {} rows.".format(len(df_msg.index),len(df_ordb.index)))

Originally, message and orderbook csv each has 155935, 155935 rows.

In [446]:
print("total unique orders today: {}".format(len(set(df_msg['OrderID'].tolist()))))

total unique orders today: 85403

In [447]:
# cancelled orders are type 2
cancelledOrder = df_msg[(df_msg['Type']==2)]
print('total number of cancelled order: {}'.format(len(cancelledOrder)))

total number of cancelled order: 450

In [448]:
df_msg['Time'] = pd.to_datetime(df_msg['Time_stamp'], unit="s", origin=pd.Timestamp('2012-06-21'))

In [449]:
# COMBINE TWO DATAFRAMES
df = pd.concat([df_ordb,df_msg],axis=1)
#df.drop(['Time_stamp'])

In [450]:
df.head(5)

,Ask Price 1,Ask Size 1,Bid Price 1,Bid Size 1,Ask Price 2,Ask Size 2,Bid Price 2,Bid Size 2,Ask Price 3,Ask Size 3,...,Ask Size 5,Bid Price 5,Bid Size 5,Time_stamp,Type,OrderID,Size,Price,Direction,Time
0,2239500,100,2231800,100,2239900,100,2230700,200,2240000,220,...,547,2226200,100,34200.017460,5,0,1,2238200,-1,2012-06-21 09:30:00.017460
1,2239500,100,2238100,21,2239900,100,2231800,100,2240000,220,...,547,2230000,10,34200.189608,1,11885113,21,2238100,1,2012-06-21 09:30:00.189608
2,2239500,100,2238100,21,2239600,20,2231800,100,2239900,100,...,100,2230000,10,34200.189608,1,3911376,20,2239600,-1,2012-06-21 09:30:00.189608
3,2239500,100,2238100,21,2239600,20,2237500,100,2239900,100,...,100,2230400,100,34200.189608,1,11534792,100,2237500,1,2012-06-21 09:30:00.189608
4,2239500,100,2238100,21,2239600,20,2237500,100,2239900,100,...,100,2230400,100,34200.189608,1,1365373,13,2240000,-1,2012-06-21 09:30:00.189608

In [451]:
df_OC = df.loc[df['OrderID'].isin(cancelledOrder_ID)]
df_OC.drop(['Time_stamp'],axis=1,inplace=True)
#df_NonOC = df.loc[~df['OrderID'].isin(cancelledOrder_ID)]

In [1]:
# Get parameters for orders at their submission time
df_OC_submit = df_OC[(df_OC['Type']==2)]
# renaming columns...
old_col = df_OC_submit.columns.tolist()
new_col = []
text = ' Sumbisson'
for col in old_col:
    if ( ("Bid" in col) | ("Ask" in col) ):
        new_col.append(col+text)
    elif ((col == 'Size') | (col == 'Price')):
        new_col.append(col+text)        
    else:
        new_col.append(col)
columns = dict(zip(old_col,new_col))
df_OC_submit.rename(columns=columns,inplace=True)
df_OC_submit

NameError: name 'df_OC' is not defined

In [2]:
df_OC_cancelled = df_OC[(df_OC['Type']==2)]
df_OC_deleted = df_OC[(df_OC['Type']==3)]

NameError: name 'df_OC' is not defined

In [454]:
df_OC_merge = df_OC_submit.merge(df_OC_cancelled, left_on='OrderID', right_on='OrderID', how='outer')