In [102]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import random as rnd
# Additional tweaking
import warnings
warnings.filterwarnings('ignore') # Filter out warnings|

In [103]:
df=pd.read_csv('NASDAQ_ITCH.csv')

In [104]:
print("There are {} rows and {} columns originally, before any cleaning.".format(df.shape[0],df.shape[1]))

There are 131182 rows and 14 columns originally, before any cleaning.

In [105]:
col_list=df.columns.tolist()
col_list

['Index',
 'Time',
 'TVITCH_41::SINA.ORDER_ID',
 'TVITCH_41::SINA.BUY_SELL_FLAG',
 'TVITCH_41::SINA.RECORD_TYPE',
 'TVITCH_41::SINA.MESSAGE_TYPE',
 'TVITCH_41::SINA.DISPLAY_IND',
 'TVITCH_41::SINA.MPID',
 'TVITCH_41::SINA.DELETED_TIME',
 'TVITCH_41::SINA.TICK_STATUS',
 'TVITCH_41::SINA.PRICE',
 'TVITCH_41::SINA.SIZE',
 'TVITCH_41::SINA.PICOS',
 'TVITCH_41::SINA.OMDSEQ']

In [106]:
# remove a redundan string in column namessazazQQQQQQQQQQQQQQQQQQQqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
remove_str='TVITCH_41::SINA.'
for idx,item in enumerate(col_list):
    if remove_str in item:
        col_list[idx]=item.strip(remove_str) 
# insert new column names
df.columns=col_list

In [107]:
# remove NaN
df=df.dropna(how='all')

In [108]:
# to look at data whose Message_type == EA (Executed and Accepted Order)
df['MESSAGE_TYPE'].unique()
df=df.loc[df['MESSAGE_TYPE']=='EA']

In [114]:
# tweaking the time
# df['Time']=pd.to_datetime(df['Time'])
df['Time']

7         30:00.1
69        30:00.3
73        30:00.3
77        30:00.3
101       30:01.0
103       30:01.0
183       30:01.5
185       30:01.5
201       30:02.8
203       30:02.8
219       30:02.8
309       30:03.8
311       30:03.8
387       30:04.9
389       30:04.9
391       30:04.9
397       30:05.3
419       30:06.2
431       30:06.2
447       30:06.3
449       30:06.3
527       30:08.4
537       30:08.7
539       30:08.7
607       30:09.7
609       30:09.7
619       30:09.7
711       30:11.4
803       30:12.9
807       30:12.9
           ...
128965    24:34.9
129003    24:35.0
129197    25:23.7
129205    25:23.7
129215    25:23.7
129301    25:28.1
129417    25:33.5
129519    25:43.2
129637    26:16.4
129663    26:27.5
129699    26:28.4
129705    26:28.4
129749    26:31.5
129807    26:47.7
129809    26:47.7
130499    29:10.6
130537    29:11.4
130591    29:21.6
130595    29:21.6
130647    29:21.7
130685    29:28.6
130773    29:32.6
130809    29:33.4
130867    29:33.4
130883    29:33.4
131029    29:45.9
131037    29:45.9
131047    29:45.9
131077    29:49.1
131079    29:49.1
Name: Time, Length: 2633, dtype: object

In [110]:
df.head(4)

,Index,Time,ORDER_ID,BUY_SELL_FLAG,RECORD_TYPE,MESSAGE_TYPE,DISPLAY_IND,MPID,DELETED_TIME,K_STATU,PRICE,ZE,PICO,OMDSEQ
7,4.0,30:00.1,5333893.0,0.0,R,EA,NaN,NSDQ,NaN,0.0,84.49,38.0,770687000.0,335.0
69,35.0,30:00.3,2065600.0,0.0,R,EA,NaN,UBSS,NaN,0.0,84.76,1700.0,370159000.0,183.0
73,37.0,30:00.3,2065600.0,0.0,R,EA,NaN,UBSS,NaN,0.0,84.76,1630.0,563657000.0,323.0
77,39.0,30:00.3,2065600.0,0.0,R,EA,NaN,UBSS,NaN,0.0,84.76,1545.0,382791000.0,193.0