In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("AMZN.csv")

In [3]:
df.head(5)

,OrderID,Time_st,V_st,P_st,Label_st,Level_st,Volts_st,mid-price 1_st,N_OrderSubmit_st,Spread_st,Time_ed,V_ed,P_ed,Label_ed,Level_ed,Volts_ed,mid-price 1_ed,N_OrderSubmit_ed,Spread_ed
0,46531222,36000.04098,19,2241500,lb,2,2082.613040,2242600,2831,1800,36000.21432,19,2241500,c,2,2082.613040,2242600,2831,1800
1,46568900,36000.44002,100,2241600,la,1,2065.897529,2241400,2837,400,36000.91890,100,2241600,c,4,2089.865897,2240100,2859,800
2,46571667,36000.44434,100,2241200,la,1,2065.149554,2240900,2838,600,36000.87853,100,2241200,c,3,2089.865897,2240100,2859,800
3,46572381,36000.44555,100,2241200,la,1,2065.149554,2240900,2839,600,36001.32953,100,2241200,c,3,2098.780914,2240050,2857,900
4,46572501,36000.44572,217,2243400,la,3,2065.149554,2240900,2840,600,36000.46224,217,2243400,c,4,2067.920063,2240450,2844,1500

In [4]:
df.columns

Index(['OrderID', 'Time_st', 'V_st', 'P_st', 'Label_st', 'Level_st',
       'Volts_st', 'mid-price 1_st', 'N_OrderSubmit_st', 'Spread_st',
       'Time_ed', 'V_ed', 'P_ed', 'Label_ed', 'Level_ed', 'Volts_ed',
       'mid-price 1_ed', 'N_OrderSubmit_ed', 'Spread_ed'],
      dtype='object')

In [7]:
success = []

for index, row in df.iterrows():
    if (row['Label_st']== 'la' and row['Level_ed']<= row['Level_st'] 
    and row['mid-price 1_ed'] <= row['mid-price 1_st']):
        success.append(True)
    elif (row['Label_st']== 'lb' and row['Level_ed']<= row['Level_st'] 
    and row['mid-price 1_ed'] >= row['mid-price 1_st']):
        success.append(True)
    else:
        success.append(False)
print(success[:50])

[True, False, False, False, False, False, False, False, False, True, True, True, True, True, True, False, True, False, True, False, True, True, True, False, False, False, False, True, True, True, False, False, True, False, False, False, True, False, True, True, False, False, False, False, True, True, False, True, True, False]

In [8]:
df['Success'] = success

In [9]:
df.head(10)

,OrderID,Time_st,V_st,P_st,Label_st,Level_st,Volts_st,mid-price 1_st,N_OrderSubmit_st,Spread_st,Time_ed,V_ed,P_ed,Label_ed,Level_ed,Volts_ed,mid-price 1_ed,N_OrderSubmit_ed,Spread_ed,Success
0,46531222,36000.04098,19,2241500,lb,2,2082.613040,2242600,2831,1800,36000.21432,19,2241500,c,2,2082.613040,2242600,2831,1800,True
1,46568900,36000.44002,100,2241600,la,1,2065.897529,2241400,2837,400,36000.91890,100,2241600,c,4,2089.865897,2240100,2859,800,False
2,46571667,36000.44434,100,2241200,la,1,2065.149554,2240900,2838,600,36000.87853,100,2241200,c,3,2089.865897,2240100,2859,800,False
3,46572381,36000.44555,100,2241200,la,1,2065.149554,2240900,2839,600,36001.32953,100,2241200,c,3,2098.780914,2240050,2857,900,False
4,46572501,36000.44572,217,2243400,la,3,2065.149554,2240900,2840,600,36000.46224,217,2243400,c,4,2067.920063,2240450,2844,1500,False
5,46573079,36000.44673,16,2242700,la,3,2065.149554,2240900,2841,600,36000.83003,16,2242700,c,5,2075.842679,2240100,2858,800,False
6,46582594,36000.46224,217,2241100,la,1,2067.920063,2240400,2844,1400,36000.51685,217,2241100,c,2,2070.987648,2240100,2848,800,False
7,46594055,36000.48051,16,2238100,lb,3,2067.920063,2240400,2845,1400,36004.55285,16,2238100,c,1,2109.907676,2239000,2894,1800,False
8,46597551,36000.48605,19,2242600,la,4,2070.987648,2240400,2846,1400,36001.16589,19,2242600,c,5,2089.865897,2240100,2858,800,False
9,46617094,36000.51527,100,2240500,la,1,2070.987648,2240100,2847,800,36000.95824,100,2240500,c,1,2089.865897,2240100,2856,800,True

In [10]:
df.to_csv("AMZN_withSuccessColumn.csv")